@model IEnumerable<AppDevGCD0805.Models.Category>

<h1>Category</h1>
<main>
    
    <br>

    <a class="nav-link  btn btn-outline-success col-1" asp-area="" asp-controller="Categories" asp-action="Create">Create</a>

    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
          
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Acction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Categories", new { Id = item.Id }, new { @class = " btn btn-outline-danger " })
                        @Html.ActionLink("Edit", "Edit", "Categories", new { id = item.Id }, new { @class = " btn btn-outline-info " })
                        @* @Html.ActionLink("Details", "Details", "Todos", new { id = item.Id }, new { @class = "btn btn-info" }) *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

